.intro-logo {
  height: 40vh;
  display: flex;
}

.intro-container {
  margin: 0 auto;
  width: 75vw;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
  text-align: center;
}

.dsa {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
  text-align: center;
}

.ml {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
  text-align: center;
}

.web {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
  text-align: center;
}